---
# Only the main Sass file needs front matter (the dashes are enough)
---
// START HIPE ADAPTATIONS
$text-color: #222222;
$masthead-link-color: #3b9cba;
$masthead-link-color-hover: mix(#000, $masthead-link-color, 25%) !default;
$link-color: #3b9cba;

/*
   Breakpoints
   ========================================================================== */

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;

// END HIPE ADAPTATIONS

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
